<div class="blog-details">
  <h2><%= @blog.title %></h2>
    <p class="blog-author">By <strong><%= @blog.user.name %></strong> on <%= @blog.created_at.strftime("%B %d, %Y") %></p>
  <p class="blog-content"><%= simple_format(@blog.content) %></p>

  <% if user_logged_in? && current_user == @blog.user %>
    <div class="blog-actions">
      <%= link_to "Edit", edit_blog_path(@blog), class: "btn edit-btn" %>
      <%= button_to "Delete", blog_path(@blog), method: :delete, data: { confirm: "Are you sure?" }, class: "btn delete-btn", style: "margin: 0;" %>
    </div>
  <% end %>
</div>
