<div class="content-section">
  <%= @user.admin? ? "<h1>Admin Profile</h1>".html_safe : "<h1>User Profile</h1>".html_safe %>
  <p><strong>Name:</strong> <%= @user.name %></p>
  <p><strong>Email:</strong> <%= @user.email %></p>

  <h2>Blogs by <%= @user.name %></h2>
  <%= render 'shared/blog_cards_list', blogs: @user.blogs %>
</div>
