
<nav class="navbar" id="navbar">
    <%= link_to 'ALPHA BLOG', root_path, class: 'logo' %>
    <div class="menu-toggle" id="menuToggle">☰</div>

    <div class="nav-links" id="navLinks">
      <%= link_to 'Home', root_path %>
      <%= link_to 'All Blogs', blogs_path %>
      <%= link_to 'New Blog', new_blog_path %>
      <%= button_to 'Log Out', logout_path, method: :delete, data: { confirm: "Are you sure?" }, style: "margin: 0;" %>
    </div>

    <div class="search-container" id="searchContainer">
      <input type="text" placeholder="Search...">
      <button>Search</button>
    </div>
  </nav>

  <script>
    const toggle = document.getElementById("menuToggle");
    const navbar = document.getElementById("navbar");

    toggle.addEventListener("click", () => {
      navbar.classList.toggle("active");
    });
</script>
