
<nav class="navbar" id="navbar">
    <%= link_to 'ALPHA BLOG', root_path, class: 'logo' %>
    <div class="menu-toggle" id="menuToggle">☰</div>

    <div class="nav-links" id="navLinks">
      <%= link_to 'Home', root_path %>
      <%= link_to 'All Blogs', blogs_path %>
      <%= link_to 'New Blog', new_blog_path %>
    </div>

    <div class="search-container" id="searchContainer">
    <% if user_logged_in? %>
    <%= link_to current_user.email, user_path(current_user), class: "profile-link" %>
        <%= button_to 'Log Out', logout_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn logout-btn" %>
    <% else %>
        <%= link_to 'Log In', login_path, class: "btn submit-button" %>
        <%= link_to 'Sign Up', register_path, class: "btn submit-button" %>
    <% end %>
    </div>
</nav>